extends layout

block content
    h1= title
    form#formAddVideo(name="addvideo",method="post",action="/addvideo")
        input#inputUrl(type="text", placeholder="Enter Your Url Here", name="url")
        button#btnSubmit(type="submit") submit