extends layout

block content
    img(src= "/images/logo2.png")
    form#formAddVideo(name="addvideo",method="post",action="/addvideo")
        input#inputUrl(type="text", placeholder="Enter Your Url Here", name="url")
        button#btnSubmit(type="submit") submit