extends layout

block content
    h1.
        Video List
    ul
        each video, i in videolist
            li
                a(href="#{video.url}")= video.url
                br
                a= video.host
                br
                a= video.timesQueried
                br
                a= video.lastQuery